<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content= news.length; i++){
            %>    
                <li><%= news[i].title %></li>
            <%
            } %>

        </ul>
    </div>
</body>
</html>